---
http_interactions:
- request:
    method: post
    uri: https://api.paymongo.com/v1/payments
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"amount":30000,"currency":"PHP","description":"Payment
        for Invoice #0003","statement_descriptor":"MAKISU.CO","source":{"id":"tok_C4EFJehbrrwNCCSrqRL9op5L","type":"token"}}}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic c2tfdGVzdF9jc2JzeVlwSHpYRDJLbnVZTWpWblc0ZkI6
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"errors":[{"code":"generic_decline","detail":"Your card has been declined
        for an unknown reason.","meta":{"type":"card_error"},"status":"402"}]}'
  recorded_at: Tue, 13 Aug 2019 00:14:00 GMT
recorded_with: VCR 5.0.0
