---
http_interactions:
- request:
    method: post
    uri: https://api.paymongo.com/v1/payments
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"amount":10000,"currency":"PHP","description":"Payment
        for Invoice #0001","statement_descriptor":"MAKISU.CO","source":{"id":"tok_Ru7gip89uieig4ZcTKa35Ssn","type":"token"}}}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic c2tfdGVzdF9jc2JzeVlwSHpYRDJLbnVZTWpWblc0ZkI6
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"5a2ca3855bd9975c23b0086bda2bc71c"
    body:
      encoding: UTF-8
      string: '{"data":{"id":"pay_5GJEj8vPrW4r7M3wW94qZpth","type":"payment","attributes":{"amount":10000,"billing":{"address":{"city":"Furview","country":"PH","line1":"111","line2":"Wanchan
        St","postal_code":"11111","state":"Metro Manila"},"email":"zdoge@doggo.net","name":"Zooey
        Doge","phone":"09171234567"},"created":1565596823,"currency":"PHP","description":"Payment
        for Invoice #0001","external_reference_number":null,"fee":1850,"livemode":false,"net_amount":8150,"statement_descriptor":"MAKISU.CO","status":"paid","updated":1565596824},"relationships":{"source":{"data":{"id":"tok_Ru7gip89uieig4ZcTKa35Ssn","type":"token"}},"payout":{"data":null}}},"included":[{"id":"tok_Ru7gip89uieig4ZcTKa35Ssn","type":"token","attributes":{"billing":{"address":{"city":"Furview","country":"PH","line1":"111","line2":"Wanchan
        St","postal_code":"11111","state":"Metro Manila"},"email":"zdoge@doggo.net","name":"Zooey
        Doge","phone":"09171234567"},"card":{"brand":"visa","country":"GB","exp_month":1,"exp_year":22,"last4":"4242"},"created":1565596167,"kind":"card","livemode":false,"updated":1565596823,"used":true}}]}'
  recorded_at: Mon, 12 Aug 2019 08:00:25 GMT
recorded_with: VCR 5.0.0
